.buy-main-container {
    width: 100%;
    overflow: hidden;
    filter: brightness(0%);
    transition: 1s ease-in-out;
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;

    .container-info {
        width: 100%;
        height: 100vh;
        display: flex;
        position: relative;
        flex-direction: row;

        .desc {
            width: 50%;
            padding: 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            color: rgba(0, 0, 0, 0.808);

            .bar {
                z-index: 9;
                width: 60%;
                height: 350px;
                position: absolute;
                transition: .5s ease-in-out;
                background-color: rgb(14, 14, 14);
            }

            div:nth-child(2) {
                width: 70%;
                font-size: 4.6rem;
                margin-bottom: 30px;
            }

            div:nth-child(3) {
                width: 70%;
                font-size: 1.2rem;
            }
        }

        .car-img {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 700px;
                max-width: 700px;
                border-radius: 30px;
            }
        }
    }
}

@media screen and (max-width: 1000px) {

    .buy-main-container {
        display: flex;
        flex-direction: column;

        .rigth {
            transform: scale(1, 1) !important;

            .rigth {
                transform: scaleX(-1) !important;

            }
        }

        .container-info {
            width: 100%;
            height: 110vh;
            display: flex;
            margin-top: 100px;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            .desc {
                width: 90%;
                text-align: center;
                
                div:nth-child(2) {
                    width: 100% !important;
                }
                
                
                .bar {
                    display: none;
                }
            }
            
            .car-img {
                width: 100%;
                padding: 10px;


                img {
                    max-width: 80%;
                    height: 600px;
                }
            }
        }

    }

}

@media screen and (max-width: 654px) {

    .buy-main-container {

        .container-info {

            .desc {
                div:nth-child(2) {
                    width: 70%;
                    font-size: 2.6rem;
                }
            }

            img {
                max-width: 80%;
                height: 600px !important;
            }
        }

    }

}

@media screen and (max-width: 574px) {

    .buy-main-container {
        .container-info {
            img {
                max-width: 80%;
                height: 400px !important;
            }
        }

    }
}

@media screen and (max-width: 424px) {

    .buy-main-container {
        .container-info {
            .desc {
                div:nth-child(2) {
                    font-size: 2.1rem;
                }
            }

            img {
                max-width: 80%;
                height: 300px !important;
            }
        }
    }
}